<ion-view view-title="Student">
  <ion-content>
    <h1>Student detail</h1>
    <h2>Name: {{student.name}}</h2>
    <p>Description: {{student.description}}</p>
    <p>Address: {{student.address}}</p>
    <p>Phones: </p>
    <ion-list>
      <ion-list>
        <ion-item >
        <p>Name: {{student.phones[0].name}}</p>
        <p>Address: {{student.phones[0].address}}</p>
        </ion-item>
        <ion-item>
        <p>Name: {{student.phones[1].name}}</p>
        <p>Address: {{student.phones[1].address}}</p>
        </ion-item>
        <ion-item>
          <p>Name: {{student.phones[2].name}}</p>
          <p>Address: {{student.phones[2].address}}</p>
        </ion-item>
      </ion-list>
      </ion-list>
  </ion-content>
</ion-view>
