<ion-view view-title="Subject">
  <ion-content>
    <!--<h1>Subject detail</h1>-->
    <h2>Subject: {{subject.name}}</h2>
    <p>Description: {{subject.description}}</p>
    <p><i class="icon ion-calendar"></i> Date: {{subject.when}}</p>
   <h2 ng-show="subject.students.length>0">Enrolled students:</h2>
    <ion-list>
      <ion-item ng-repeat="student in subject.students" href="#/app/students/{{student._id}}">
        {{student.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
